body{
  	font-family: Montserrat ;
  }
  .navbar{
  		vertical-align: middle;
  		height: 115px !important;
  		margin-top: 0px;
  		margin-left: 0px;
  }
  .container{
  	margin-left: 224px;
  	margin-top: 42px;
  	width: 917px;
  	height: 29px;
  }
#myNavbar>ul>li>a{
	color:  #777777 !important;
	font-size: 14px;
	font-weight: 400 !important;

}
<!--
	.navbar-brand{
	font-weight: 700;
	color: #555555;
	text-align:center;
	font-size: 18px;
	display: inline-block;
}
-->
.background{
	background-image: url(images/Background1.png);
	height: 530px;
}
.title-section{
	text-align: center;
	height: 530px;
	color: #ffffff;
	padding: 170px 400px; 
	line-height: 15px;
	
}
h1{
	font-weight: 700;
	font-size: 50px !important;
}
p {
	font-size: 20px;
	font-family: 'Roboto Slab' , serif;

}
.subtitle-text{
	font-size: 14px;

}
.buttons{
	background-color: #7cc576;
	border-radius: 30px;
	width: 200px;
	height: 60px;
	font-weight: 700;
	font-size: 15px;

}
.icons {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
#services{
  	margin-top: 111px;
  	width: 934px;
  	height: 333px;
  }
@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }