body{
  font-family: Montserrat;
  color: $base_font_color ;
  font-size: 16px;
  overflow-x: hidden;
  h2{
    font-weight: 700;
    color: $opaque2;
    font-size: 40px;
    font-family: Montserrat;
  }
}
html body{
  width: -webkit-fill-available;
}
p{
  font-family: RobotoSlab;
  font-weight: 400;
}
