//top-footer
.topfooter{
  background-color: $opaque2;
  color: $footercolor;
  font-size: 16px;
  padding: 4em 14.375em;
  .columns{
      padding-bottom: 1.5em;
      header{
        background-color: inherit;
        color: $white;
        font-weight: 700;
        padding-bottom: 1.1em;
        font-size: 18px;
      }
      .grid-container-fluid{
        display: grid;
        grid-template-columns: 15% auto;
        grid-row-gap: 10px;
        .i2{
          font-size: 22px;
        }
        .ref{
          font-family: RobotoSlab;
          a{color: inherit!important;}
          .quote{
            font-weight: 700;
          }
          .mini{
            font-size: 12px;
          }
        }
      }
    }
    .ref:hover{
        color: $green;
        a{text-decoration: none;}
      }

    #col3{
      padding-right: 5%;
      }
    @media screen and (max-width: 1200px){
      font-size: 15px;
      padding: 3em 8em;
      .mini{font-size: 13px;}
    }
    @media screen and (max-width: 768px){
      font-size: 12px;
      padding: 3em 5em;
      .mini{font-size: 10px;}
    }
    @media screen and (max-width: 425px){
      font-size: 16px;
      .mini{font-size: 12px;}
    }
    @media screen and (max-width: 375px){
      font-size: 14px;
      .mini{font-size: 11px;}
    }
}

//bottom footer
.bottom_footer{
  padding: 2em 14.375em;
  margin-top: 0;
  text-align: center;
  .Copyright{
    padding: 0.75em 0;
    font-size: 14px;
    color: #555555;
    line-height: 22px;
  }
  .follow{
    .fa{
      font-size: 20px;
      height: 2.05em;
      color: $white;
      width: 2.05em;
      padding: 0.5em;
      background-color: $opaque2;
      border-radius: 50%;
    }
    .fa-twitter:hover{background-color: #00aced;}
    .fa-facebook:hover{background-color: #3b5998;}
    .fa-pinterest-p:hover{background-color: #cb2028;}
    .fa-google-plus:hover{background-color: #da2713;}
  }
  @media screen and (max-width: 1232px){
    padding: 2em 10em;
    .Copyright{font-size: 13px;}
  }
  @media screen and (max-width: 1024px){
    padding: 2em 7em;
  }
  @media screen and (max-width: 768px){
    padding: 2em 6.5em;

  }
  @media screen and (max-width: 425px){
    .Copyright{font-size: 10px; padding-bottom: 1em;}
    padding: 1em 3em;
  }
  @media screen and (max-width: 375px){
    .Copyright{font-size: 10px;}
    padding: 1em 2em;
  }
}
