//top-footer
.topfooter{
  background-color: $opaque2;
  color: $footercolor;
  font-size: 16px;
  padding: 4em 14em;
  .columns{
      padding-bottom: 1.5em;
      header{
        background-color: inherit;
        color: $white;
        font-weight: 700;
        padding-bottom: 1.2em;
      }
      .grid-container-fluid{
        display: grid;

        grid-template-columns: 10% auto;
        .i2{
          text-align: center;
        }
        p{
          padding-left: 0.4em;
          .quote{
            font-weight: 700;
          }
          .mini{
            font-size: 12px;
          }
        }
      }
    }
    #col2,#col3{
      .i2+div:hover{
          color: $green;
        }
    }
    @media screen and (max-width: 1024px){
      font-size: 15px;
      padding: 3em 8em;
      .mini{font-size: 13px;}
    }
    @media screen and (max-width: 768px){
      font-size: 12px;
      padding: 3em 5em;
      .mini{font-size: 10px;}
    }
    @media screen and (max-width: 425px){
      font-size: 16px;
      .mini{font-size: 12px;}
    }
    @media screen and (max-width: 375px){
      font-size: 14px;
      .mini{font-size: 11px;}
    }
}

//bottom footer
.bottom_footer{
  padding: 2em 10em;
  margin-top: 0;
  text-align: center;
  .Copyright{
    padding-top: 1em;
    font-size: 14px;
  }
  .follow{
    div{
      height: 2.75em;
      color: $white;
      width: 2.75em;
      padding: 1em 0.8em;
      background-color: $opaque2;
      border-radius: 50%;
    }
  }
  @media screen and (max-width: 1024px){
    .Copyright{font-size: 12px;}
    padding: 2em 7em;
  }
  @media screen and (max-width: 768px){
    .Copyright{font-size: 11px;}
    padding: 2em 7em;
  }
  @media screen and (max-width: 425px){
    .Copyright{font-size: 10px; padding-bottom: 1em;}
    padding: 1em 3em;
  }
  @media screen and (max-width: 375px){
    .Copyright{font-size: 10px;}
    padding: 1em 2em;
  }
}
