
.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border-radius: 0;
    padding: 2.5% 0;
    .navbar-nav{
        li a{
          :hover,:active{
            color: #222222 !important;
            background-color: #fff !important;
          }
        }
    }
    .navbar-collapse{
      margin: 0;
    }
    .navbar-brand{
      color: #555555;
      font-weight: 700;
      margin-left: 10% !important;
      padding: 4% 0 0 0;
      width: 200px;
      img{
        display: inline;
        border-radius: 50%;
        background: #7cc576;
        padding: 5% 4.5% 3.5% 4.5%;
      }
    }
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
