.button{
  color: #ffffff;
  border-radius: 2.5em;
  border-style: none;
  font-size: 0.75em;
  font-weight: 700;
  text-align: center;
  height: 4.75em;
  transform: scale(1.0783,1.0783);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
  background-color: #7cc576;
}
.button:hover{
  background-color: #ffffff;
  color: #222222;
}
