//title sction
.jumbo{
  background-color: $opaque;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 37em;
  margin: 0;
  position: relative;
  z-index: 0;
  padding: 0;
  .back_1{
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    position: absolute;
  }
  .top_header{
    z-index: inherit;
    position: relative;
    text-align: center;
    padding: 9% 25% 0%;
    margin: 0;
    height: auto;
    font-size: 60px;
    font-weight: 700;
    color: $white;

  }
  .subtitle_text{
    text-align: center;
    z-index: inherit;
    position: relative;
    color: $greyish;
    font-size: 20px;
    padding-top: 2.5%;
  }
  .button1{
    text-align: center;
    z-index: inherit;
    position: relative;
    padding-top: 3%;
  }
  @media screen and (min-width: 1440px){
    height: 40em;
    .top_header{
      padding: 11% 28% 0;
      font-size: 60px;
    }
    .subtitle_text{
      font-size: 25px;
    }
    .button1{
      padding-top: 3.5%;
      .button{
        width: 18em;
        height: 5em;
        border-radius: 2.5em;
      }
    }
  }
  @media screen and (max-width: 1024px){
    height: 31em;
    .top_header{
      padding: 10% 23% 0;
      font-size: 55px;
    }
    .subtitle_text{
      font-size: 23px;
    }
    .button1{
      .button{
        width: 17em;
        height: 5em;
        border-radius: 2.5em;
      }
    }
  }
  @media screen and (max-width: 992px){
    height: 28em;
    .top_header{
      padding: 7.5% 18.5% 0;
      font-size: 40px;
    }
    .subtitle_text{
      font-size: 20px;
    }
    .button1{
      .button{
        width: 16em;
        height: 4.5em;
        border-radius: 2.25em;
        font-size: 0.7em;
      }
    }
  }
  @media screen and (max-width: 768px){
    height: 22em;
    .top_header{
      padding: 6% 12% 0;
      font-size: 40px;
    }
    .subtitle_text{
      font-size: 18px;
    }
    .button1{
      .button{
        width: 15em;
        height: 4.2em;
        border-radius: 2.1em;
        font-size: 0.65em;
      }
    }
  }
  @media screen and (max-width: 425px){
    height: 14em;
    .top_header{
      padding: 5% 12% 0;
      font-size: 30px;
    }
    .subtitle_text{
      font-size: 14px;
    }
    .button1{
      .button{
        width: 14em;
        height: 4em;
        border-radius: 2em;
        font-size: 0.6em;
      }
    }
  }
  @media screen and (max-width: 375px){
    height: 12em;
    .top_header{
      padding: 5% 12% 0;
      font-size: 25px;
    }
    .subtitle_text{
      font-size: 12px;
    }
    .button1{
      .button{
        width: 13em;
        height: 3.8em;
        border-radius: 1.9em;
        font-size: 0.5em;
      }
    }
  }
}

//just relax section
#back2{
  height: 41em;
  background-color: $background1;
  margin: 0;
  width: 100%;
  padding: 0;
  #image1{
    width: 23em;
    z-index: 0;
    padding: 8.2em 0;
    margin-left: 13.2em;
    position: absolute;
  }
  #back{
    width: 64.5em;
    height: 100%;
    z-index: 9;
    float: right;
    position: relative;
    background-color: $opaque;
    #image2{
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0.5;
      position: absolute;
    }
    #header2{
      margin-left: 2em;
      margin-top: 2em;
      padding: 0 0 0.75em 0;
      width: auto;
      height: auto;
      z-index: inherit;
      position: relative;
      color: $white;
      font-weight: 700;
      #and{
        color: $green;
      }
    }
    #desc2{
      font-size: 16px;
      color: $greyish;
      margin-left: 5em;
      padding: 0;
      width: 24em;
      height: auto;
      text-align: left;
      float: left;
      z-index: inherit;
      position: relative;
      .grid{
        margin: 0;
        .i{
          padding: 0;
          .ic{
            i{
              font-weight: 400;
              font-size: inherit;
            }
            border-radius: 2em;
            border-style: solid;
            text-align: center;
            padding: 0.2em;
            border-color: $greyish;
            border-width: 2px;
        }
      }
        .grid-item{
          padding: 0.5em 1.5em;
        }
      }
      .button2{
        width: 12em;
      }
    }
  }
  @media screen and (min-width: 1440px){
    height: 40em;
    #image1{
      width: 25em;
      padding: 6.6em 0;
      margin-left: 10.5em;
    }
    #back{
      width: 67em;
      #header2{
        font-size: 40px;
        margin-left: 2.5em;
        margin-top: 2.5em;
      }
      #desc2{
        font-size: 20px!important;
        width: 27em;
        .grid{
          .i{
            .ic{
              padding: 0.3em 0;
              border-radius: 2em;
            }
          }
          .grid-item{
            padding: 0.3em 1.3em;
          }
        }
        .button2{
          width: 13em;
          height: 4em;
        }
      }
    }
  }
  @media screen and (max-width: 1024px){
    height: 29em;
    #image1{
      width: 17.8em;
      padding: 5em 0;
      margin-left: 10em;
    }
    #back{
      width: 45em;
      #header2{
        font-size: 30px;
        margin-left: 2.5em;
        margin-top: 2em;
        padding-bottom: 0.5em;
      }
      #desc2{
        font-size: 16px!important;
        width: 27em;
        .grid{
          .i{
            .ic{
              padding: 0.5em 0 0.1em 0;
              border-radius: 2em;
            }
          }
          .grid-item{
            padding: 0.3em 1.3em;
          }
        }
        .button2{
          width: 13em;
          height: 4.5em;
        }
      }
    }
  }
  @media screen and (max-width: 992px){
    height: 28em;
    #image1{
      width: 17.8em;
      padding: 5em 0;
      margin-left: 10em;
    }
    #back{
      width: 44em;
      #header2{
        font-size: 30px;
        margin-left: 2em;
        margin-top: 2em;
        padding-bottom: 0.5em;
      }
      #desc2{
        font-size: 16px!important;
        width: 27em;
        .grid{
          .i{
            .ic{
              padding: 0.5em 0 0.1em 0;
              border-radius: 2em;
            }
          }
          .grid-item{
            padding: 0.3em 1.3em;
          }
        }
        .button2{
          width: 13em;
          height: 4.5em;
        }
      }
    }
  }
  @media screen and (max-width: 800px){
    #back{
      width:50em;
      }
    }
  @media screen and (max-width: 768px){
    height: 22em;
    #image1{
      width: 12em;
      padding: 4.5em 0;
      margin-left: 6em;
    }
    #back{
      width: 36em;
      #header2{
        font-size: 24px;
        margin-left: 2em;
        margin-top: 1.5em;
        padding-bottom: 0.4em;
      }
      #desc2{
        font-size: 12px!important;
        width: 27em;
        margin-left: 4em;
        .grid{
          .i{
            .ic{
              padding: 0.4em 0 0.1em 0;
              border-radius: 2em;
              border-width: 1px;
            }
          }
          .grid-item{
            padding: 0.3em 1.3em;
          }
        }
        .button2{
          width: 13em;
          height: 4.2em;
        }
      }
    }
  }
  @media screen and (max-width: 425px){
    height: 20em;
    #image1{
      visibility: hidden;
      width: 12em;
      padding: 3.5em 0;
      margin-left: 0;
    }
    #back{
      width: 27em;
      #header2{
        font-size: 20px;
        margin-left: 2em;
        margin-top: 1.5em;
        padding-bottom: 0.4em;
      }
      #desc2{
        font-size: 10px!important;
        width: 27em;
        margin-left: 4em;
        .grid{
          .i{
            .ic{
              padding: 0.6em 0 0.1em 0;
              border-radius: 2em;
              border-width: 1px;
            }
          }
          .grid-item{
            padding: 0.3em 1.3em;
          }
        }
        .button2{
          width: 13em;
          height: 4.2em;
        }
      }
    }
  }

  @media screen and (max-width: 375px){
    height: 18em;
    #image1{
      visibility: hidden;
      width: 12em;
      padding: 3.5em 0;
      margin-left: 0;
    }
    #back{
      width: 24em;
      #header2{
        font-size: 19px;
        margin-left: 2em;
        margin-top: 1.5em;
        padding-bottom: 0.4em;
      }
      #desc2{
        font-size: 10px!important;
        width: 27em;
        margin-left: 4em;
        .grid{
          .i{
            .ic{
              padding: 0.6em 0 0.1em 0;
              border-radius: 2em;
              border-width: 1px;
            }
          }
          .grid-item{
            padding: 0.3em 1.3em;
          }
        }
        .button2{
          width: 13em;
          height: 4.2em;
        }
      }
    }
  }
  @media screen and (max-width: 320px){
      height: 17em;
      #image1{
        visibility: hidden;
        width: 12em;
        padding: 3.5em 0;
        margin-left: 0;
      }
      #back{
        width: 20em;
        #header2{
          font-size: 18px;
          margin-left: 1em;
          margin-top: 1.25em;
          padding-bottom: 0.4em;
        }
        #desc2{
          font-size: 10px!important;
          width: 27em;
          margin-left: 1.8em;
          .grid{
            .i{
              .ic{
                padding: 0.6em 0 0.1em 0;
                border-radius: 2em;
                border-width: 1px;
              }
            }
            .grid-item{
              padding: 0.3em 1.3em;
            }
          }
          .button2{
            width: 13em;
            height: 4.2em;
          }
        }
      }
    }
}

//panel
#talknext{
  width: 100%;
  height: auto;
  background-color: $green;
  color: $white;
  padding: 4em 11em;
  #talk{
    color: $white;
    margin-bottom: 3.5%;
    font-size: 40px;
  }
  .button3{
    border-color: $white;
    border-style: solid;
    border-width: 3px;
    border-radius: 0.5em;
    width: 14.5em;
    height: 4em;
    text-shadow: none;
  }
  .button3:hover{
      color: $green!important;
  }
  @media screen and (max-width: 1024px){
    #talk{font-size: 30px;}
    padding: 3em 8em;
  }
  @media screen and (max-width: 768px){
    #talk{font-size: 24px;}
    padding: 2em  5em;
  }
  @media screen and (max-width: 425px){
    #talk{font-size: 18px;}
    padding: 1em;
  }
  @media screen and (max-width: 375px){
    #talk{font-size: 16px;}
    padding:1em;
  }
}

//logos
#logos{
  padding: 3em 0;
  margin-top: 0;
  width: 50em;
  .logo{
    padding: 0.8em;
  }
  @media screen and (max-width: 1024px){
    width: 37.5em;
    padding: 2em 0;
  }
  @media screen and (max-width: 768px){
    width: 25em;
    padding: 1.5em 0;
  }
  @media screen and (max-width: 425px){
    width: 10em;
    padding: 0.75em 0;
  }
  @media screen and (max-width: 425px){
    width: 7.5em;
    padding: 0.75em 0;
  }
  @media screen and (max-width: 425px){
    width: 7.5em;
    padding: 0.75em 0;
  }
}
