//title sction
#jumbo{
  background-color: #000000;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 530px;
  margin: 0;
  position: relative;
  z-index: 0;
  #back1{
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    position: absolute;
  }
  #header1{
    z-index: inherit;
    position: relative;
    text-align: center;
    padding: 8% 30% 0%;
    margin: 0;
    height: auto;
    //line-height: 54px;
    font-size: 53px;
    font-weight: 700;
    color: #ffffff;

  }
  #p1{
    text-align: center;
    z-index: inherit;
    position: relative;
    color: #cccccc;
    font-size: 22px;
    padding-top: 2.5%;
  }
  #button1{
    text-align: center;
    z-index: inherit;
    position: relative;
    padding-top: 3%;
    height: 22%;
    button{
      width: 16%;
    }
  }
}

//just relax section
#back2{
  height: 616px;
  background-color: #e9e9e9;
  margin: 0;
  width: 100%;

  #image1{
    width: 379px;
    z-index: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 200px;
    position: absolute;
  }
  #back{
    width: 69.3%;
    height: 100%;
    z-index: 9;
    float: right;
    position: relative;
    background-color: #000000;
    #image2{
      width: 100%;
      height: 100%;
      z-index: 9;
      opacity: 0.5;
      position: absolute;
    }
    #header2{
      margin-left: 10%;
      margin-top: 10%;
      padding: 0;
      width: auto;
      height: auto;
      text-align: left;
      float: left;
      z-index: inherit;
      position: relative;
      color: #ffffff;
      font-weight: 700;
      font-size: 40px;
      #and{
        color: #7cc576;
      }
    }
    #desc2{
      font-size: 16px;
      color: #cccccc;
      margin-left: 10%;
      padding: 0;
      width: 48%;
      height: auto;
      text-align: left;
      float: left;
      z-index: inherit;
      position: relative;
      ul{
        font-family: RobotoSlab;
        list-style-type: none;
        padding-left: 0;
        padding-bottom: 4%;
        li{
          height: 37px;
          img{
            border-radius: 100%;
            border-style: solid;
            width: 7.2%;
            padding: 1.6%;
            display: inline-block;
            border-color: #cccccc;
            border-width: thin;
          }
        }
      }
      button{
        width: 41.5%;
      }
    }
  }

}
