//services section
#services{
  padding: 5.4% 0;
  h2{
    font-weight: 700;
    color: #222222;
    font-size: 40px;
  }
  h4{
    font-size: 18px;
    color: #222222;
    font-weight: 700;
  }
  #p2{
    font-size: 20px;
  }
  img{
    display: inline-block;
  }
}

//latest project section
#latest_project{
  margin: 0px;
  padding: 8% 0 0 0;
  position: relative;
  width: 100%;
  #header3{
    text-align: center;
    padding-bottom: 4.5%;
    h2{
      font-size: 40px;
      color: #222222;
      font-weight: 700;
    }
    .subtitle_text{
      font-size: 20px;
      font-weight: 400;
    }
  }
  #subhead{
  .row{
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 4%;
  }
  p{
    font-size: 16px;
    font-weight: 400;
  }
  h4{
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 0;
    a{
      font-size: 18px;
      font-weight: 700;
      font-size: 16px;
      color: #7cc576;
      img{
        display: inline;
        vertical-align: baseline;
        margin-top: 10%;
      }
    }
  }
  section{
    margin: 0;
    border-spacing: 2px;
    width: 14.5%;
    height: 57px;
    padding: 2.5% 3.5%;
    float: left;
    border: solid 3px #000000;
    border-radius: 50%;
  }
  .features{
    padding-left: 2%;
    float: left;
  }


}
}
