/* line 1, ../sass/1-base/_base.scss */
body {
  font-family: Montserrat;
  color: #777777;
  font-size: 14px;
}

/* line 6, ../sass/1-base/_base.scss */
p {
  font-family: RobotoSlab;
  font-weight: 400;
}

/* line 1, ../sass/2-layout/_nav.scss */
.navbar {
  height: 115px;
  margin: 0px;
}

/* line 5, ../sass/2-layout/_nav.scss */
.navbar li a, .navbar {
  color: #777777;
  font-size: 14px !important;
  font-weight: 400 !important;
}

/* line 10, ../sass/2-layout/_nav.scss */
.navbar-default {
  background-color: #ffffff;
}

/* line 13, ../sass/2-layout/_nav.scss */
.navbar-toggle {
  background-color: #cccccc;
}

/* line 16, ../sass/2-layout/_nav.scss */
.container-fluid {
  margin-top: 2.4%;
  padding: 0px;
  width: 70%;
}

/* line 22, ../sass/2-layout/_nav.scss */
.navbar-brand {
  padding: 8% 0 10.5%;
}

/*@media (max-width:800px) {
    .container-fluid{
    .navbar-collapse
      {
      margin-left: 0px;
      margin-right: 0px;
      }
    }
}

@media (max-width: 800px){
    .container>.navbar-collapse, .container>.navbar-header
  {
    margin-right: 0;
    margin-left: 0;
}
}*/
/* line 2, ../sass/3-modules/_components.scss */
#jumbo {
  background-color: #000000;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 530px;
  margin: 0;
  position: relative;
  z-index: 0;
}
/* line 11, ../sass/3-modules/_components.scss */
#jumbo #back1 {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  z-index: 0;
  opacity: 0.5;
  position: absolute;
}
/* line 18, ../sass/3-modules/_components.scss */
#jumbo #header1 {
  z-index: inherit;
  position: relative;
  text-align: center;
  padding: 8% 30% 0%;
  margin: 0;
  height: auto;
  font-size: 53px;
  font-weight: 700;
  color: #ffffff;
}
/* line 31, ../sass/3-modules/_components.scss */
#jumbo #p1 {
  text-align: center;
  z-index: inherit;
  position: relative;
  color: #cccccc;
  font-size: 22px;
  padding-top: 2.5%;
}
/* line 39, ../sass/3-modules/_components.scss */
#jumbo #button1 {
  text-align: center;
  z-index: inherit;
  position: relative;
  padding-top: 3%;
  height: 22%;
}
/* line 45, ../sass/3-modules/_components.scss */
#jumbo #button1 button {
  width: 16%;
}

/* line 52, ../sass/3-modules/_components.scss */
#back2 {
  height: 616px;
  background-color: #e9e9e9;
  margin: 0;
  width: 100%;
}
/* line 58, ../sass/3-modules/_components.scss */
#back2 #image1 {
  width: 29.7%;
  z-index: 0;
  padding: 7.8% 0;
  margin-left: 15.6%;
  position: absolute;
}
/* line 65, ../sass/3-modules/_components.scss */
#back2 #back {
  width: 69.3%;
  height: 100%;
  z-index: 9;
  float: right;
  position: relative;
  background-color: #000000;
}
/* line 72, ../sass/3-modules/_components.scss */
#back2 #back #image2 {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  z-index: 9;
  opacity: 0.5;
  position: absolute;
}
/* line 79, ../sass/3-modules/_components.scss */
#back2 #back #header2 {
  margin-left: 10%;
  margin-top: 10%;
  padding: 0;
  width: auto;
  height: auto;
  z-index: inherit;
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}
/* line 90, ../sass/3-modules/_components.scss */
#back2 #back #header2 #and {
  color: #7cc576;
}
/* line 94, ../sass/3-modules/_components.scss */
#back2 #back #desc2 {
  font-size: 16px;
  color: #cccccc;
  margin-left: 10%;
  padding: 0;
  width: 48%;
  height: auto;
  text-align: left;
  float: left;
  z-index: inherit;
  position: relative;
}
/* line 105, ../sass/3-modules/_components.scss */
#back2 #back #desc2 ul {
  font-family: RobotoSlab;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 4%;
}
/* line 110, ../sass/3-modules/_components.scss */
#back2 #back #desc2 ul li {
  height: 40px;
  padding-bottom: 12%;
}
/* line 113, ../sass/3-modules/_components.scss */
#back2 #back #desc2 ul li img {
  border-radius: 50%;
  border-style: solid;
  width: 9.6%;
  padding: 2.5%;
  display: inline-block;
  border-color: #cccccc;
  border-width: 2px;
}
/* line 124, ../sass/3-modules/_components.scss */
#back2 #back #desc2 button {
  width: 41.5%;
}

/* line 1, ../sass/3-modules/_buttons.scss */
.button {
  color: #ffffff;
  border-radius: 30px;
  border-style: none;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  height: 60px;
  transform: scale(1.0783, 1.0783);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  background-color: #7cc576;
}

/* line 13, ../sass/3-modules/_buttons.scss */
.button:hover {
  background-color: #ffffff;
  color: #222222;
}

/* line 2, ../sass/3-modules/_sections.scss */
#services {
  padding: 5.4% 0;
}
/* line 4, ../sass/3-modules/_sections.scss */
#services h2 {
  font-weight: 700;
  color: #222222;
  font-size: 40px;
}
/* line 9, ../sass/3-modules/_sections.scss */
#services h4 {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
}
/* line 14, ../sass/3-modules/_sections.scss */
#services #p2 {
  font-size: 20px;
}
/* line 17, ../sass/3-modules/_sections.scss */
#services img {
  display: inline-block;
}

/* line 23, ../sass/3-modules/_sections.scss */
#latest_project {
  margin: 0px;
  padding: 8% 0 0 0;
  position: relative;
  width: 100%;
}
/* line 28, ../sass/3-modules/_sections.scss */
#latest_project #header3 {
  text-align: center;
  padding-bottom: 4.5%;
}
/* line 31, ../sass/3-modules/_sections.scss */
#latest_project #header3 h2 {
  font-size: 40px;
  color: #222222;
  font-weight: 700;
}
/* line 36, ../sass/3-modules/_sections.scss */
#latest_project #header3 .subtitle_text {
  font-size: 20px;
  font-weight: 400;
}
/* line 42, ../sass/3-modules/_sections.scss */
#latest_project #subhead .row {
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 4%;
}
/* line 47, ../sass/3-modules/_sections.scss */
#latest_project #subhead p {
  font-size: 16px;
  font-weight: 400;
}
/* line 51, ../sass/3-modules/_sections.scss */
#latest_project #subhead h4 {
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 0;
}
/* line 56, ../sass/3-modules/_sections.scss */
#latest_project #subhead h4 a {
  font-size: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #7cc576;
}
/* line 61, ../sass/3-modules/_sections.scss */
#latest_project #subhead h4 a img {
  display: inline;
  vertical-align: baseline;
  margin-top: 10%;
}
/* line 68, ../sass/3-modules/_sections.scss */
#latest_project #subhead section {
  margin: 0;
  border-spacing: 2px;
  width: 14.5%;
  height: 57px;
  padding: 2.5% 3.5%;
  float: left;
  border: solid 3px #000000;
  border-radius: 50%;
}
/* line 78, ../sass/3-modules/_sections.scss */
#latest_project #subhead .features {
  padding-left: 2%;
  float: left;
}
