/* line 1, ../sass/1-base/_base.scss */
body {
  font-family: Montserrat;
  color: #777777;
  font-size: 16px;
  overflow-x: hidden;
}
/* line 6, ../sass/1-base/_base.scss */
body h2 {
  font-weight: 700;
  color: #222222;
  font-size: 40px;
  font-family: Montserrat;
}

/* line 13, ../sass/1-base/_base.scss */
html body {
  width: -webkit-fill-available;
}

/* line 16, ../sass/1-base/_base.scss */
p {
  font-family: RobotoSlab;
  font-weight: 400;
}

/* line 1, ../sass/2-layout/_nav.scss */
.navi {
  background-color: #ffffff !important;
}

/* line 2, ../sass/2-layout/_nav.scss */
.navbar {
  margin-bottom: 0;
  z-index: 9999;
  border-radius: 0;
  padding: 2.5% 0;
}
/* line 8, ../sass/2-layout/_nav.scss */
.navbar .navbar-nav li {
  font-size: 14px;
}
/* line 11, ../sass/2-layout/_nav.scss */
.navbar .navbar-nav li a :hover, .navbar .navbar-nav li a :active {
  color: #222222 !important;
}
/* line 17, ../sass/2-layout/_nav.scss */
.navbar .navbar-collapse {
  margin: 0;
}
/* line 20, ../sass/2-layout/_nav.scss */
.navbar .navbar-brand {
  color: #555555;
  font-weight: 700;
  margin-left: 10% !important;
  padding: 5% 0;
  width: 200px;
}
/* line 26, ../sass/2-layout/_nav.scss */
.navbar .navbar-brand img {
  display: inline;
  border-radius: 50%;
  background: #7cc576;
  padding: 4% 4.5%;
}
@media screen and (max-width: 767px) {
  /* line 34, ../sass/2-layout/_nav.scss */
  .navbar .navbar-brand {
    padding: 10px 0 0 0;
  }
}

/* line 37, ../sass/2-layout/_nav.scss */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* line 2, ../sass/2-layout/_footer.scss */
.topfooter {
  background-color: #222222;
  color: #ececec;
  font-size: 16px;
  padding: 4em 14.375em;
}
/* line 7, ../sass/2-layout/_footer.scss */
.topfooter .columns {
  padding-bottom: 1.5em;
}
/* line 9, ../sass/2-layout/_footer.scss */
.topfooter .columns header {
  background-color: inherit;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 1.1em;
  font-size: 18px;
}
/* line 16, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid {
  display: grid;
  grid-template-columns: 15% auto;
  grid-row-gap: 10px;
}
/* line 20, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .i2 {
  font-size: 22px;
}
/* line 23, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref {
  font-family: RobotoSlab;
}
/* line 25, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref a {
  color: inherit !important;
}
/* line 26, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref .quote {
  font-weight: 700;
}
/* line 29, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref .mini {
  font-size: 12px;
}
/* line 36, ../sass/2-layout/_footer.scss */
.topfooter #col2 .ref:hover {
  color: #7cc576;
}
/* line 40, ../sass/2-layout/_footer.scss */
.topfooter #col3 {
  padding-right: 5%;
}
/* line 42, ../sass/2-layout/_footer.scss */
.topfooter #col3 .ref:hover {
  color: #7cc576;
}
@media screen and (max-width: 1200px) {
  /* line 2, ../sass/2-layout/_footer.scss */
  .topfooter {
    font-size: 15px;
    padding: 3em 8em;
  }
  /* line 47, ../sass/2-layout/_footer.scss */
  .topfooter .mini {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/2-layout/_footer.scss */
  .topfooter {
    font-size: 12px;
    padding: 3em 5em;
  }
  /* line 52, ../sass/2-layout/_footer.scss */
  .topfooter .mini {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  /* line 2, ../sass/2-layout/_footer.scss */
  .topfooter {
    font-size: 16px;
  }
  /* line 56, ../sass/2-layout/_footer.scss */
  .topfooter .mini {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  /* line 2, ../sass/2-layout/_footer.scss */
  .topfooter {
    font-size: 14px;
  }
  /* line 60, ../sass/2-layout/_footer.scss */
  .topfooter .mini {
    font-size: 11px;
  }
}

/* line 65, ../sass/2-layout/_footer.scss */
.bottom_footer {
  padding: 2em 14.375em;
  margin-top: 0;
  text-align: center;
}
/* line 69, ../sass/2-layout/_footer.scss */
.bottom_footer .Copyright {
  padding: 0.75em 0;
  font-size: 14px;
  color: #555555;
  line-height: 22px;
}
/* line 76, ../sass/2-layout/_footer.scss */
.bottom_footer .follow .fa {
  font-size: 20px;
  height: 2.05em;
  color: #ffffff;
  width: 2.05em;
  padding: 0.5em;
  background-color: #222222;
  border-radius: 50%;
}
/* line 85, ../sass/2-layout/_footer.scss */
.bottom_footer .follow .fa-twitter:hover {
  background-color: #00aced;
}
/* line 86, ../sass/2-layout/_footer.scss */
.bottom_footer .follow .fa-facebook:hover {
  background-color: #3b5998;
}
/* line 87, ../sass/2-layout/_footer.scss */
.bottom_footer .follow .fa-pinterest-p:hover {
  background-color: #cb2028;
}
/* line 88, ../sass/2-layout/_footer.scss */
.bottom_footer .follow .fa-google-plus:hover {
  background-color: #da2713;
}
@media screen and (max-width: 1232px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 2em 10em;
  }
  /* line 92, ../sass/2-layout/_footer.scss */
  .bottom_footer .Copyright {
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 2em 7em;
  }
}
@media screen and (max-width: 768px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 2em 6.5em;
  }
}
@media screen and (max-width: 425px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 1em 3em;
  }
  /* line 102, ../sass/2-layout/_footer.scss */
  .bottom_footer .Copyright {
    font-size: 10px;
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 375px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 1em 2em;
  }
  /* line 106, ../sass/2-layout/_footer.scss */
  .bottom_footer .Copyright {
    font-size: 10px;
  }
}

/* line 2, ../sass/3-modules/_components.scss */
.jumbo {
  background-color: #000000;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 37em;
  margin: 0;
  position: relative;
  z-index: 0;
  padding: 0;
}
/* line 12, ../sass/3-modules/_components.scss */
.jumbo .back_1 {
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  position: absolute;
}
/* line 19, ../sass/3-modules/_components.scss */
.jumbo .top_header {
  z-index: inherit;
  position: relative;
  text-align: center;
  padding: 9% 25% 0%;
  margin: 0;
  height: auto;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}
/* line 31, ../sass/3-modules/_components.scss */
.jumbo .subtitle_text {
  text-align: center;
  z-index: inherit;
  position: relative;
  color: #cccccc;
  font-size: 20px;
  padding-top: 2.5%;
}
/* line 39, ../sass/3-modules/_components.scss */
.jumbo .button1 {
  text-align: center;
  z-index: inherit;
  position: relative;
  padding-top: 3%;
}
@media screen and (min-width: 1440px) {
  /* line 2, ../sass/3-modules/_components.scss */
  .jumbo {
    height: 40em;
  }
  /* line 47, ../sass/3-modules/_components.scss */
  .jumbo .top_header {
    padding: 11% 28% 0;
    font-size: 60px;
  }
  /* line 51, ../sass/3-modules/_components.scss */
  .jumbo .subtitle_text {
    font-size: 25px;
  }
  /* line 54, ../sass/3-modules/_components.scss */
  .jumbo .button1 {
    padding-top: 3.5%;
  }
  /* line 56, ../sass/3-modules/_components.scss */
  .jumbo .button1 .button {
    width: 18em;
    height: 5em;
    border-radius: 2.5em;
  }
}
@media screen and (max-width: 1024px) {
  /* line 2, ../sass/3-modules/_components.scss */
  .jumbo {
    height: 31em;
  }
  /* line 65, ../sass/3-modules/_components.scss */
  .jumbo .top_header {
    padding: 10% 23% 0;
    font-size: 55px;
  }
  /* line 69, ../sass/3-modules/_components.scss */
  .jumbo .subtitle_text {
    font-size: 23px;
  }
  /* line 73, ../sass/3-modules/_components.scss */
  .jumbo .button1 .button {
    width: 17em;
    height: 5em;
    border-radius: 2.5em;
  }
}
@media screen and (max-width: 992px) {
  /* line 2, ../sass/3-modules/_components.scss */
  .jumbo {
    height: 28em;
  }
  /* line 82, ../sass/3-modules/_components.scss */
  .jumbo .top_header {
    padding: 7.5% 18.5% 0;
    font-size: 40px;
  }
  /* line 86, ../sass/3-modules/_components.scss */
  .jumbo .subtitle_text {
    font-size: 20px;
  }
  /* line 90, ../sass/3-modules/_components.scss */
  .jumbo .button1 .button {
    width: 16em;
    height: 4.5em;
    border-radius: 2.25em;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/3-modules/_components.scss */
  .jumbo {
    height: 22em;
  }
  /* line 100, ../sass/3-modules/_components.scss */
  .jumbo .top_header {
    padding: 6% 12% 0;
    font-size: 40px;
  }
  /* line 104, ../sass/3-modules/_components.scss */
  .jumbo .subtitle_text {
    font-size: 18px;
  }
  /* line 108, ../sass/3-modules/_components.scss */
  .jumbo .button1 .button {
    width: 15em;
    height: 4.2em;
    border-radius: 2.1em;
    font-size: 0.65em;
  }
}
@media screen and (max-width: 425px) {
  /* line 2, ../sass/3-modules/_components.scss */
  .jumbo {
    height: 14em;
  }
  /* line 118, ../sass/3-modules/_components.scss */
  .jumbo .top_header {
    padding: 5% 12% 0;
    font-size: 30px;
  }
  /* line 122, ../sass/3-modules/_components.scss */
  .jumbo .subtitle_text {
    font-size: 14px;
  }
  /* line 126, ../sass/3-modules/_components.scss */
  .jumbo .button1 .button {
    width: 14em;
    height: 4em;
    border-radius: 2em;
    font-size: 0.6em;
  }
}
@media screen and (max-width: 375px) {
  /* line 2, ../sass/3-modules/_components.scss */
  .jumbo {
    height: 12em;
  }
  /* line 136, ../sass/3-modules/_components.scss */
  .jumbo .top_header {
    padding: 5% 12% 0;
    font-size: 25px;
  }
  /* line 140, ../sass/3-modules/_components.scss */
  .jumbo .subtitle_text {
    font-size: 12px;
  }
  /* line 144, ../sass/3-modules/_components.scss */
  .jumbo .button1 .button {
    width: 13em;
    height: 3.8em;
    border-radius: 1.9em;
    font-size: 0.5em;
  }
}

/* line 155, ../sass/3-modules/_components.scss */
#back2 {
  height: 41em;
  background-color: #e9e9e9;
  margin: 0;
  width: 100%;
  padding: 0;
}
/* line 161, ../sass/3-modules/_components.scss */
#back2 #image1 {
  width: 23em;
  z-index: 0;
  padding: 8.2em 0;
  margin-left: 13.2em;
  position: absolute;
}
/* line 168, ../sass/3-modules/_components.scss */
#back2 #back {
  width: 64.5em;
  height: 100%;
  z-index: 9;
  float: right;
  position: relative;
  background-color: #000000;
}
/* line 175, ../sass/3-modules/_components.scss */
#back2 #back #image2 {
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0.5;
  position: absolute;
}
/* line 182, ../sass/3-modules/_components.scss */
#back2 #back #header2 {
  margin-left: 2em;
  margin-top: 2em;
  padding: 0 0 0.75em 0;
  width: auto;
  height: auto;
  z-index: inherit;
  position: relative;
  color: #ffffff;
  font-weight: 700;
}
/* line 192, ../sass/3-modules/_components.scss */
#back2 #back #header2 #and {
  color: #7cc576;
}
/* line 196, ../sass/3-modules/_components.scss */
#back2 #back #desc2 {
  font-size: 16px;
  color: #cccccc;
  margin-left: 5em;
  padding: 0;
  width: 24em;
  height: auto;
  text-align: left;
  float: left;
  z-index: inherit;
  position: relative;
}
/* line 207, ../sass/3-modules/_components.scss */
#back2 #back #desc2 .grid {
  margin: 0;
}
/* line 209, ../sass/3-modules/_components.scss */
#back2 #back #desc2 .grid .i {
  padding: 0;
}
/* line 211, ../sass/3-modules/_components.scss */
#back2 #back #desc2 .grid .i .ic {
  border-radius: 2em;
  border-style: solid;
  text-align: center;
  padding: 0.2em;
  border-color: #cccccc;
  border-width: 2px;
}
/* line 212, ../sass/3-modules/_components.scss */
#back2 #back #desc2 .grid .i .ic i {
  font-weight: 400;
  font-size: inherit;
}
/* line 224, ../sass/3-modules/_components.scss */
#back2 #back #desc2 .grid .grid-item {
  padding: 0.5em 1.5em;
}
/* line 228, ../sass/3-modules/_components.scss */
#back2 #back #desc2 .button2 {
  width: 12em;
}
@media screen and (min-width: 1440px) {
  /* line 155, ../sass/3-modules/_components.scss */
  #back2 {
    height: 40em;
  }
  /* line 235, ../sass/3-modules/_components.scss */
  #back2 #image1 {
    width: 25em;
    padding: 6.6em 0;
    margin-left: 10.5em;
  }
  /* line 240, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 67em;
  }
  /* line 242, ../sass/3-modules/_components.scss */
  #back2 #back #header2 {
    font-size: 40px;
    margin-left: 2.5em;
    margin-top: 2.5em;
  }
  /* line 247, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 {
    font-size: 20px !important;
    width: 27em;
  }
  /* line 252, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .i .ic {
    padding: 0.3em 0;
    border-radius: 2em;
  }
  /* line 257, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .grid-item {
    padding: 0.3em 1.3em;
  }
  /* line 261, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .button2 {
    width: 13em;
    height: 4em;
  }
}
@media screen and (max-width: 1024px) {
  /* line 155, ../sass/3-modules/_components.scss */
  #back2 {
    height: 29em;
  }
  /* line 270, ../sass/3-modules/_components.scss */
  #back2 #image1 {
    width: 17.8em;
    padding: 5em 0;
    margin-left: 10em;
  }
  /* line 275, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 45em;
  }
  /* line 277, ../sass/3-modules/_components.scss */
  #back2 #back #header2 {
    font-size: 30px;
    margin-left: 2.5em;
    margin-top: 2em;
    padding-bottom: 0.5em;
  }
  /* line 283, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 {
    font-size: 16px !important;
    width: 27em;
  }
  /* line 288, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .i .ic {
    padding: 0.5em 0 0.1em 0;
    border-radius: 2em;
  }
  /* line 293, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .grid-item {
    padding: 0.3em 1.3em;
  }
  /* line 297, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .button2 {
    width: 13em;
    height: 4.5em;
  }
}
@media screen and (max-width: 992px) {
  /* line 155, ../sass/3-modules/_components.scss */
  #back2 {
    height: 28em;
  }
  /* line 306, ../sass/3-modules/_components.scss */
  #back2 #image1 {
    width: 17.8em;
    padding: 5em 0;
    margin-left: 10em;
  }
  /* line 311, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 43em;
  }
  /* line 313, ../sass/3-modules/_components.scss */
  #back2 #back #header2 {
    font-size: 30px;
    margin-left: 2em;
    margin-top: 2em;
    padding-bottom: 0.5em;
  }
  /* line 319, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 {
    font-size: 16px !important;
    width: 27em;
  }
  /* line 324, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .i .ic {
    padding: 0.5em 0 0.1em 0;
    border-radius: 2em;
  }
  /* line 329, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .grid-item {
    padding: 0.3em 1.3em;
  }
  /* line 333, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .button2 {
    width: 13em;
    height: 4.5em;
  }
}
@media screen and (max-width: 800px) {
  /* line 341, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 50em;
  }
}
@media screen and (max-width: 768px) {
  /* line 155, ../sass/3-modules/_components.scss */
  #back2 {
    height: 22em;
  }
  /* line 347, ../sass/3-modules/_components.scss */
  #back2 #image1 {
    width: 12em;
    padding: 4.5em 0;
    margin-left: 6em;
  }
  /* line 352, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 36em;
  }
  /* line 354, ../sass/3-modules/_components.scss */
  #back2 #back #header2 {
    font-size: 24px;
    margin-left: 2em;
    margin-top: 1.5em;
    padding-bottom: 0.4em;
  }
  /* line 360, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 {
    font-size: 12px !important;
    width: 27em;
    margin-left: 4em;
  }
  /* line 366, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .i .ic {
    padding: 0.4em 0 0.1em 0;
    border-radius: 2em;
    border-width: 1px;
  }
  /* line 372, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .grid-item {
    padding: 0.3em 1.3em;
  }
  /* line 376, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .button2 {
    width: 13em;
    height: 4.2em;
  }
}
@media screen and (max-width: 576px) {
  /* line 384, ../sass/3-modules/_components.scss */
  #back2 #image1 {
    visibility: hidden;
    width: auto;
  }
  /* line 385, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 36em;
  }
}
@media screen and (max-width: 425px) {
  /* line 155, ../sass/3-modules/_components.scss */
  #back2 {
    height: 20em;
  }
  /* line 391, ../sass/3-modules/_components.scss */
  #back2 #image1 {
    visibility: hidden;
    width: auto;
    padding: 3.5em 0;
    margin-left: 0;
  }
  /* line 397, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 100%;
  }
  /* line 399, ../sass/3-modules/_components.scss */
  #back2 #back #header2 {
    font-size: 20px;
    margin-left: 2em;
    margin-top: 1.5em;
    padding-bottom: 0.4em;
  }
  /* line 405, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 {
    font-size: 10px !important;
    width: 27em;
    margin-left: 4em;
  }
  /* line 411, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .i .ic {
    padding: 0.6em 0 0.1em 0;
    border-radius: 2em;
    border-width: 1px;
  }
  /* line 417, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .grid-item {
    padding: 0.3em 1.3em;
  }
  /* line 421, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .button2 {
    width: 13em;
    height: 4.2em;
  }
}
@media screen and (max-width: 375px) {
  /* line 155, ../sass/3-modules/_components.scss */
  #back2 {
    height: 18em;
  }
  /* line 430, ../sass/3-modules/_components.scss */
  #back2 #image1 {
    visibility: hidden;
    width: 12em;
    padding: 3.5em 0;
    margin-left: 0;
  }
  /* line 436, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 24em;
  }
  /* line 438, ../sass/3-modules/_components.scss */
  #back2 #back #header2 {
    font-size: 19px;
    margin-left: 2em;
    margin-top: 1.5em;
    padding-bottom: 0.4em;
  }
  /* line 444, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 {
    font-size: 10px !important;
    width: 27em;
    margin-left: 4em;
  }
  /* line 450, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .i .ic {
    padding: 0.6em 0 0.1em 0;
    border-radius: 2em;
    border-width: 1px;
  }
  /* line 456, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .grid-item {
    padding: 0.3em 1.3em;
  }
  /* line 460, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .button2 {
    width: 13em;
    height: 4.2em;
  }
}
@media screen and (max-width: 320px) {
  /* line 155, ../sass/3-modules/_components.scss */
  #back2 {
    height: 17em;
  }
  /* line 469, ../sass/3-modules/_components.scss */
  #back2 #image1 {
    visibility: hidden;
    width: 12em;
    padding: 3.5em 0;
    margin-left: 0;
  }
  /* line 475, ../sass/3-modules/_components.scss */
  #back2 #back {
    width: 20em;
  }
  /* line 477, ../sass/3-modules/_components.scss */
  #back2 #back #header2 {
    font-size: 18px;
    margin-left: 1em;
    margin-top: 1.25em;
    padding-bottom: 0.4em;
  }
  /* line 483, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 {
    font-size: 10px !important;
    width: 27em;
    margin-left: 1.8em;
  }
  /* line 489, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .i .ic {
    padding: 0.6em 0 0.1em 0;
    border-radius: 2em;
    border-width: 1px;
  }
  /* line 495, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .grid .grid-item {
    padding: 0.3em 1.3em;
  }
  /* line 499, ../sass/3-modules/_components.scss */
  #back2 #back #desc2 .button2 {
    width: 13em;
    height: 4.2em;
  }
}

/* line 509, ../sass/3-modules/_components.scss */
#talknext {
  width: 100%;
  height: auto;
  background-color: #7cc576;
  color: #ffffff;
  padding: 4em 11em;
}
/* line 515, ../sass/3-modules/_components.scss */
#talknext #talk {
  color: #ffffff;
  margin-bottom: 1em;
}
/* line 519, ../sass/3-modules/_components.scss */
#talknext .button3 {
  border-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-radius: 0.5em;
  width: 11em;
  height: 3em;
  font-size: 18px;
  text-shadow: none;
}
/* line 529, ../sass/3-modules/_components.scss */
#talknext .button3:hover {
  color: #7cc576 !important;
}
@media screen and (max-width: 1024px) {
  /* line 509, ../sass/3-modules/_components.scss */
  #talknext {
    padding: 2em 6em;
  }
  /* line 533, ../sass/3-modules/_components.scss */
  #talknext #talk {
    font-size: 30px;
  }
  /* line 535, ../sass/3-modules/_components.scss */
  #talknext .button3 {
    font-size: 16px;
    width: 10em;
  }
}
@media screen and (max-width: 768px) {
  /* line 509, ../sass/3-modules/_components.scss */
  #talknext {
    padding: 1.5em 4em;
  }
  /* line 538, ../sass/3-modules/_components.scss */
  #talknext #talk {
    font-size: 24px;
  }
  /* line 540, ../sass/3-modules/_components.scss */
  #talknext .button3 {
    font-size: 15px;
    width: 10em;
  }
}
@media screen and (max-width: 425px) {
  /* line 509, ../sass/3-modules/_components.scss */
  #talknext {
    padding: 1em;
  }
  /* line 543, ../sass/3-modules/_components.scss */
  #talknext #talk {
    font-size: 18px;
  }
  /* line 545, ../sass/3-modules/_components.scss */
  #talknext .button3 {
    font-size: 12px;
    width: 10em;
  }
}
@media screen and (max-width: 375px) {
  /* line 509, ../sass/3-modules/_components.scss */
  #talknext {
    padding: 1em;
  }
  /* line 548, ../sass/3-modules/_components.scss */
  #talknext #talk {
    font-size: 16px;
  }
}

/* line 554, ../sass/3-modules/_components.scss */
#logos {
  padding: 3em 0;
  margin-top: 0;
  width: 50em;
}
/* line 558, ../sass/3-modules/_components.scss */
#logos .logo {
  padding: 0.8em;
}
@media screen and (max-width: 1024px) {
  /* line 554, ../sass/3-modules/_components.scss */
  #logos {
    width: 37.5em;
    padding: 2em 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 554, ../sass/3-modules/_components.scss */
  #logos {
    width: 25em;
    padding: 1.5em 0;
  }
}
@media screen and (max-width: 425px) {
  /* line 554, ../sass/3-modules/_components.scss */
  #logos {
    width: 10em;
    padding: 0.75em 0;
  }
}
@media screen and (max-width: 425px) {
  /* line 554, ../sass/3-modules/_components.scss */
  #logos {
    width: 7.5em;
    padding: 0.75em 0;
  }
}
@media screen and (max-width: 425px) {
  /* line 554, ../sass/3-modules/_components.scss */
  #logos {
    width: 7.5em;
    padding: 0.75em 0;
  }
}

/* line 1, ../sass/3-modules/_buttons.scss */
.button {
  color: #ffffff;
  border-radius: 2.5em;
  border-style: none;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  height: 4.3em;
  transform: scale(1.0783, 1.0783);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  background-color: #7cc576;
}

/* line 13, ../sass/3-modules/_buttons.scss */
.button:hover {
  background-color: #ffffff;
  color: #222222;
}

/* line 2, ../sass/3-modules/_sections.scss */
.services {
  padding: 6.25em 0 4em;
  width: 65%;
}
/* line 5, ../sass/3-modules/_sections.scss */
.services h4 {
  font-size: 20px;
  color: #222222;
  font-weight: 700;
  padding-top: 1em;
}
/* line 11, ../sass/3-modules/_sections.scss */
.services .subtitle_text {
  font-size: 25px;
  padding-bottom: 3em;
}
/* line 16, ../sass/3-modules/_sections.scss */
.services .pro .column {
  padding-bottom: 3em;
}
/* line 18, ../sass/3-modules/_sections.scss */
.services .pro .column .icons {
  height: 4em;
}
/* line 23, ../sass/3-modules/_sections.scss */
.services .pro img {
  display: inline-block;
}
/* line 26, ../sass/3-modules/_sections.scss */
.services .pro p {
  font-size: 16.5px;
}
@media screen and (max-width: 1200px) {
  /* line 2, ../sass/3-modules/_sections.scss */
  .services {
    width: 67%;
    padding: 6em 0 2em;
  }
  /* line 34, ../sass/3-modules/_sections.scss */
  .services h2 {
    font-size: 30px;
  }
  /* line 37, ../sass/3-modules/_sections.scss */
  .services .subtitle_text {
    font-size: 20px;
    padding-bottom: 3em;
  }
  /* line 41, ../sass/3-modules/_sections.scss */
  .services h4 {
    font-size: 18px;
  }
  /* line 45, ../sass/3-modules/_sections.scss */
  .services .pro p {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  /* line 2, ../sass/3-modules/_sections.scss */
  .services {
    width: 60%;
    padding: 5em 0 2em;
  }
  /* line 53, ../sass/3-modules/_sections.scss */
  .services h2 {
    font-size: 30px;
  }
  /* line 56, ../sass/3-modules/_sections.scss */
  .services .subtitle_text {
    font-size: 19px;
    padding-bottom: 4em;
  }
  /* line 60, ../sass/3-modules/_sections.scss */
  .services h4 {
    font-size: 20px;
  }
  /* line 64, ../sass/3-modules/_sections.scss */
  .services .pro p {
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/3-modules/_sections.scss */
  .services {
    width: 65%;
    padding: 4em 0 2em;
  }
  /* line 72, ../sass/3-modules/_sections.scss */
  .services h2 {
    font-size: 26px;
  }
  /* line 75, ../sass/3-modules/_sections.scss */
  .services .subtitle_text {
    font-size: 17px;
    padding-bottom: 2em;
  }
  /* line 79, ../sass/3-modules/_sections.scss */
  .services h4 {
    font-size: 18px;
  }
  /* line 83, ../sass/3-modules/_sections.scss */
  .services .pro p {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  /* line 2, ../sass/3-modules/_sections.scss */
  .services {
    width: 67%;
  }
  /* line 90, ../sass/3-modules/_sections.scss */
  .services h2 {
    font-size: 24px;
  }
  /* line 93, ../sass/3-modules/_sections.scss */
  .services .subtitle_text {
    font-size: 16px;
    padding-bottom: 1.5em;
  }
  /* line 97, ../sass/3-modules/_sections.scss */
  .services h4 {
    font-size: 16px;
  }
  /* line 101, ../sass/3-modules/_sections.scss */
  .services .pro p {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  /* line 2, ../sass/3-modules/_sections.scss */
  .services {
    width: 70%;
  }
  /* line 108, ../sass/3-modules/_sections.scss */
  .services h2 {
    font-size: 24px;
  }
  /* line 111, ../sass/3-modules/_sections.scss */
  .services .subtitle_text {
    font-size: 14px;
    padding-bottom: 1em;
  }
  /* line 115, ../sass/3-modules/_sections.scss */
  .services h4 {
    font-size: 16px;
  }
  /* line 119, ../sass/3-modules/_sections.scss */
  .services .pro p {
    font-size: 14px;
  }
}

/* line 127, ../sass/3-modules/_sections.scss */
.latest_project {
  padding: 6.25em 0 0 0;
  width: 100%;
}
/* line 130, ../sass/3-modules/_sections.scss */
.latest_project .top_header {
  text-align: center;
  padding-bottom: 3em;
}
/* line 133, ../sass/3-modules/_sections.scss */
.latest_project .top_header .subtitle_text {
  font-size: 25px;
  font-weight: 400;
}
/* line 138, ../sass/3-modules/_sections.scss */
.latest_project .subhead {
  padding-left: 16.6%;
}
/* line 141, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid h4 {
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 0;
}
/* line 147, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .header_small {
  padding-bottom: 1em;
}
/* line 149, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .header_small h4 {
  padding-bottom: inherit;
}
/* line 150, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .header_small .desc {
  padding-right: 30%;
  font-size: 16px;
}
/* line 155, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid {
  padding-bottom: 1em;
}
/* line 157, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .items {
  padding: 0;
}
/* line 159, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .items .item {
  border-radius: 3em;
  border-style: solid;
  height: 67px;
  width: 67px;
  margin: 0;
  padding: 0.5em 0 0 0.6em;
  border-color: #000000;
  border-width: 3px;
}
/* line 169, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .items .icon2 {
  padding-top: 0.8em;
}
/* line 170, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .items .icon3 {
  padding-left: 0.9em;
  padding-top: 0.7em;
}
/* line 175, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .features {
  padding-left: 1em;
  padding-top: 0.5em;
}
/* line 181, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .bottomline {
  padding-right: 25%;
  font-size: 16px;
}
/* line 184, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .bottomline p {
  font-size: inherit;
}
/* line 185, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .bottomline .ref {
  font-size: inherit;
  color: #7cc576;
  font-weight: 700;
}
/* line 190, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .bottomline .ref:hover {
  color: #222222;
}
@media screen and (max-width: 1200px) {
  /* line 127, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding: 6em 0 2em;
  }
  /* line 199, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 32px;
  }
  /* line 200, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 20px;
  }
  /* line 204, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 18px;
  }
  /* line 205, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.8em 0;
  }
  /* line 206, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    padding-right: 16%;
  }
  /* line 211, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 1em;
  }
  /* line 214, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    padding: 0.75em;
    width: 60px;
    height: 60px;
  }
  /* line 219, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .icon3 {
    padding: 0.6em 0.9em;
  }
  /* line 222, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    padding-right: 14%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 127, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding: 5em 0 3em;
  }
  /* line 229, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 30px;
  }
  /* line 230, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 19px;
  }
  /* line 232, ../sass/3-modules/_sections.scss */
  .latest_project .subhead {
    padding-left: 15%;
  }
  /* line 235, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 17px !important;
  }
  /* line 236, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.7em 0;
  }
  /* line 238, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    padding-right: 10%;
    font-size: 15px;
  }
  /* line 243, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.8em;
  }
  /* line 245, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items {
    padding-top: 3px;
  }
  /* line 247, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    padding: 0.6em;
    width: 55px;
    height: 55px;
  }
  /* line 252, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .icon3 {
    padding: 0.6em 0.9em;
  }
  /* line 254, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding: 0 0 0 2em;
    font-size: 15px;
  }
  /* line 257, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    padding-right: 7%;
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /* line 127, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding: 4em 0 0;
  }
  /* line 266, ../sass/3-modules/_sections.scss */
  .latest_project .top_header {
    padding-bottom: 2em;
  }
  /* line 268, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 28px;
  }
  /* line 269, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 18px;
  }
  /* line 271, ../sass/3-modules/_sections.scss */
  .latest_project .subhead {
    padding-left: 10%;
  }
  /* line 273, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid {
    padding: 0 7em;
  }
  /* line 275, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 16px;
  }
  /* line 277, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    padding-right: 0;
    font-size: 14px;
  }
  /* line 279, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.9em;
  }
  /* line 281, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items {
    padding-top: 5px;
  }
  /* line 283, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    padding: 0.5em;
    width: 50px;
    height: 50px;
  }
  /* line 288, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .icon3 {
    padding: 0.4em 0.7em;
  }
  /* line 290, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding: 0;
  }
  /* line 292, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 14px;
  }
  /* line 295, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  /* line 302, ../sass/3-modules/_sections.scss */
  .latest_project .top_header {
    padding-bottom: 1em;
  }
  /* line 303, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 26px;
  }
  /* line 304, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 16px;
  }
  /* line 307, ../sass/3-modules/_sections.scss */
  .latest_project .subhead {
    padding: 0;
  }
  /* line 309, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid {
    padding-left: 5em;
    padding-right: 5em;
  }
  /* line 313, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 16px !important;
  }
  /* line 314, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.7em 0;
  }
  /* line 315, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small h4 {
    padding-bottom: 0.6em;
  }
  /* line 316, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    font-size: 16px;
  }
  /* line 319, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.9em;
  }
  /* line 321, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items {
    padding: 0;
  }
  /* line 323, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    padding: 0.75em;
    width: 60px;
    height: 60px;
  }
  /* line 328, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .icon3 {
    padding: 0.6em 0.9em;
  }
  /* line 330, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding-left: 1em;
  }
  /* line 332, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 16px;
  }
  /* line 335, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  /* line 127, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding-top: 2em;
  }
  /* line 344, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 24px;
  }
  /* line 345, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 15px;
  }
  /* line 348, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid {
    padding-left: 4em;
    padding-right: 4em;
  }
  /* line 351, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 15px;
  }
  /* line 352, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.7em 0;
  }
  /* line 353, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small h4 {
    padding-bottom: 0.6em;
  }
  /* line 355, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    font-size: 15px;
  }
  /* line 357, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.8em;
  }
  /* line 359, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items {
    padding-top: 5px;
  }
  /* line 361, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    padding: 0.7em;
    width: 55px;
    height: 55px;
  }
  /* line 366, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .icon2 {
    padding-top: 0.9em;
  }
  /* line 367, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .icon3 {
    padding: 0.6em 0.9em;
  }
  /* line 369, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding-left: 2em;
  }
  /* line 371, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 15px;
  }
  /* line 374, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  /* line 381, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 15px;
  }
  /* line 382, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.7em 0;
  }
  /* line 383, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small h4 {
    padding-bottom: 0.6em;
  }
  /* line 385, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    font-size: 15px;
  }
  /* line 387, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.8em;
  }
  /* line 389, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items {
    padding-top: 5px;
  }
  /* line 391, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    padding: 0.7em;
    width: 55px;
    height: 55px;
  }
  /* line 396, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .icon2 {
    padding-top: 0.9em;
  }
  /* line 397, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .icon3 {
    padding: 0.6em 0.9em;
  }
  /* line 399, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding-left: 2em;
  }
  /* line 401, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 15px;
  }
  /* line 404, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  /* line 411, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 14px;
  }
  /* line 413, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    font-size: 13px;
  }
  /* line 417, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    width: 50px;
    height: 50px;
  }
  /* line 422, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding-left: 2em;
  }
  /* line 424, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 13px;
  }
  /* line 427, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 13px;
  }
}

/* line 434, ../sass/3-modules/_sections.scss */
#culture {
  background-color: #f9f9f9;
  margin: 0;
  width: 100%;
  padding: 6.25em 0 4em;
}
/* line 439, ../sass/3-modules/_sections.scss */
#culture h4 {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
  padding-top: 1em;
}
/* line 445, ../sass/3-modules/_sections.scss */
#culture #p3 {
  font-size: 24px;
}
/* line 448, ../sass/3-modules/_sections.scss */
#culture .values {
  width: 67%;
  margin: 5% 16.5%;
}
/* line 451, ../sass/3-modules/_sections.scss */
#culture .values .icons {
  border-radius: 50%;
  border-style: solid;
  border-color: #777777;
  padding: 1.2em;
  height: 6em;
  width: 6em;
  display: inline-block;
}
/* line 460, ../sass/3-modules/_sections.scss */
#culture .values .icon1::after {
  content: "";
  position: absolute;
  border-top: 2px solid;
  width: 50%;
  top: 2.5em;
  transform: translateX(50%);
}
/* line 468, ../sass/3-modules/_sections.scss */
#culture .values .icon2::after {
  content: "";
  position: absolute;
  border-top: 2px solid;
  width: 50%;
  top: 2.5em;
  transform: translate(50%, 0);
}
/* line 477, ../sass/3-modules/_sections.scss */
#culture .values .icon2 .icons {
  padding-left: 1.5em;
}
/* line 481, ../sass/3-modules/_sections.scss */
#culture .values .description {
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  /* line 434, ../sass/3-modules/_sections.scss */
  #culture {
    padding: 5em 0em 3em;
  }
  /* line 486, ../sass/3-modules/_sections.scss */
  #culture h2 {
    font-size: 30px;
  }
  /* line 489, ../sass/3-modules/_sections.scss */
  #culture #p3 {
    font-size: 18px;
  }
  /* line 492, ../sass/3-modules/_sections.scss */
  #culture h4 {
    font-size: 16px;
  }
  /* line 495, ../sass/3-modules/_sections.scss */
  #culture .values {
    width: 74%;
    margin: 5% 13%;
  }
  /* line 498, ../sass/3-modules/_sections.scss */
  #culture .values .description {
    font-size: 14px;
  }
  /* line 499, ../sass/3-modules/_sections.scss */
  #culture .values .icons {
    padding: 1em;
  }
}
@media screen and (max-width: 992px) {
  /* line 434, ../sass/3-modules/_sections.scss */
  #culture {
    padding: 5em 0 2.5em;
  }
  /* line 505, ../sass/3-modules/_sections.scss */
  #culture h2 {
    font-size: 30px;
  }
  /* line 508, ../sass/3-modules/_sections.scss */
  #culture #p3 {
    font-size: 18px;
  }
  /* line 511, ../sass/3-modules/_sections.scss */
  #culture h4 {
    font-size: 18px;
  }
  /* line 514, ../sass/3-modules/_sections.scss */
  #culture .values {
    width: 50%;
    margin: 5% 25%;
  }
  /* line 516, ../sass/3-modules/_sections.scss */
  #culture .values .description {
    font-size: 16px;
  }
  /* line 517, ../sass/3-modules/_sections.scss */
  #culture .values .icons {
    padding: 1.5em;
  }
  /* line 518, ../sass/3-modules/_sections.scss */
  #culture .values .icon1::after {
    visibility: hidden;
  }
  /* line 519, ../sass/3-modules/_sections.scss */
  #culture .values .icon2::after {
    visibility: hidden;
  }
  /* line 520, ../sass/3-modules/_sections.scss */
  #culture .values .icon1, #culture .values .icon2, #culture .values .icon3 {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 768px) {
  /* line 434, ../sass/3-modules/_sections.scss */
  #culture {
    padding: 5em 0 2em;
  }
  /* line 525, ../sass/3-modules/_sections.scss */
  #culture h2 {
    font-size: 30px;
  }
  /* line 528, ../sass/3-modules/_sections.scss */
  #culture #p3 {
    font-size: 18px;
  }
  /* line 531, ../sass/3-modules/_sections.scss */
  #culture h4 {
    font-size: 18px;
  }
  /* line 534, ../sass/3-modules/_sections.scss */
  #culture .values {
    width: 64%;
    margin: 5% 18%;
  }
  /* line 536, ../sass/3-modules/_sections.scss */
  #culture .values p {
    font-size: 16px;
  }
  /* line 537, ../sass/3-modules/_sections.scss */
  #culture .values .icons {
    padding: 1.5em;
  }
  /* line 538, ../sass/3-modules/_sections.scss */
  #culture .values .icon1::after {
    visibility: hidden;
  }
  /* line 539, ../sass/3-modules/_sections.scss */
  #culture .values .icon2::after {
    visibility: hidden;
  }
  /* line 540, ../sass/3-modules/_sections.scss */
  #culture .values .icon1, #culture .values .icon2, #culture .values .icon3 {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 425px) {
  /* line 434, ../sass/3-modules/_sections.scss */
  #culture {
    padding: 5em 0 2em;
  }
  /* line 545, ../sass/3-modules/_sections.scss */
  #culture h2 {
    font-size: 24px;
  }
  /* line 548, ../sass/3-modules/_sections.scss */
  #culture #p3 {
    font-size: 16px;
  }
  /* line 551, ../sass/3-modules/_sections.scss */
  #culture h4 {
    font-size: 16px;
  }
  /* line 554, ../sass/3-modules/_sections.scss */
  #culture .values {
    width: 70%;
    margin: 5% 15%;
  }
  /* line 556, ../sass/3-modules/_sections.scss */
  #culture .values p {
    font-size: 14px;
  }
  /* line 557, ../sass/3-modules/_sections.scss */
  #culture .values .icons {
    padding: 1.25em;
  }
  /* line 558, ../sass/3-modules/_sections.scss */
  #culture .values .icon1::after {
    visibility: hidden;
  }
  /* line 559, ../sass/3-modules/_sections.scss */
  #culture .values .icon2::after {
    visibility: hidden;
  }
  /* line 560, ../sass/3-modules/_sections.scss */
  #culture .values .icon1, #culture .values .icon2, #culture .values .icon3 {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 375px) {
  /* line 434, ../sass/3-modules/_sections.scss */
  #culture {
    padding: 5em 0 2em;
  }
  /* line 565, ../sass/3-modules/_sections.scss */
  #culture h2 {
    font-size: 24px;
  }
  /* line 568, ../sass/3-modules/_sections.scss */
  #culture #p3 {
    font-size: 16px;
  }
  /* line 571, ../sass/3-modules/_sections.scss */
  #culture h4 {
    font-size: 16px;
  }
  /* line 574, ../sass/3-modules/_sections.scss */
  #culture .values {
    width: 78%;
    margin: 5% 11%;
    padding-top: 2em;
  }
  /* line 577, ../sass/3-modules/_sections.scss */
  #culture .values p {
    font-size: 16px;
  }
  /* line 578, ../sass/3-modules/_sections.scss */
  #culture .values .icons {
    padding: 1.5em;
  }
  /* line 579, ../sass/3-modules/_sections.scss */
  #culture .values .icon1::after {
    visibility: hidden;
  }
  /* line 580, ../sass/3-modules/_sections.scss */
  #culture .values .icon2::after {
    visibility: hidden;
  }
  /* line 581, ../sass/3-modules/_sections.scss */
  #culture .values .icon1, #culture .values .icon2, #culture .values .icon3 {
    padding-bottom: 2em;
  }
}

/* line 587, ../sass/3-modules/_sections.scss */
#clients {
  padding: 7em 0;
  width: 56em;
  font-family: RobotoSlab;
}
/* line 591, ../sass/3-modules/_sections.scss */
#clients .subtitle_text {
  font-size: 24px;
}
/* line 594, ../sass/3-modules/_sections.scss */
#clients .text {
  font-size: 22px;
}
/* line 597, ../sass/3-modules/_sections.scss */
#clients .clientname {
  color: #7cc576;
  font-size: 18px;
}
/* line 601, ../sass/3-modules/_sections.scss */
#clients .grid {
  padding-top: 1.5em;
  margin: 0 !important;
}
/* line 605, ../sass/3-modules/_sections.scss */
#clients .grid .item1 .item, #clients .grid .item4 .item {
  background: #222222;
  border-radius: 7em;
  height: 14em;
  width: 14em;
}
/* line 612, ../sass/3-modules/_sections.scss */
#clients .grid .item2, #clients .grid .item3 {
  padding: 1.25em 2em 1.25em 4em;
}
/* line 614, ../sass/3-modules/_sections.scss */
#clients .grid .item2 .tooltext, #clients .grid .item3 .tooltext {
  width: auto;
  height: auto;
  line-height: 2em;
  position: relative;
  background: #f9f9f9;
  padding: 2.5em 3.25em;
}
/* line 624, ../sass/3-modules/_sections.scss */
#clients .grid .item2 .tooltext::after {
  content: '';
  position: absolute;
  left: -3%;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-right-color: #f9f9f9;
  border-left: 0;
  transform: translateY(-50%);
  margin-left: 0;
}
/* line 639, ../sass/3-modules/_sections.scss */
#clients .grid .item3 .tooltext::after {
  content: '';
  position: absolute;
  right: -3%;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: #f9f9f9;
  border-right: 0;
  transform: translateY(-50%);
  margin-right: 0;
}
@media screen and (max-width: 1440px) {
  /* line 655, ../sass/3-modules/_sections.scss */
  #clients h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 587, ../sass/3-modules/_sections.scss */
  #clients {
    width: 48em;
    padding: 5em 0;
  }
  /* line 659, ../sass/3-modules/_sections.scss */
  #clients h2 {
    font-size: 30px;
  }
  /* line 660, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 20px;
  }
  /* line 661, ../sass/3-modules/_sections.scss */
  #clients .text {
    font-size: 20px;
  }
  /* line 662, ../sass/3-modules/_sections.scss */
  #clients .clientname {
    font-size: 15px;
  }
  /* line 666, ../sass/3-modules/_sections.scss */
  #clients .grid .item1 .item, #clients .grid .item4 .item {
    width: 11em;
    height: 11em;
  }
  /* line 668, ../sass/3-modules/_sections.scss */
  #clients .grid .item2, #clients .grid .item3 {
    padding: 1em 2em 1em 3em;
  }
  /* line 670, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext, #clients .grid .item3 .tooltext {
    padding: 1.5em 2em;
  }
}
@media screen and (max-width: 991px) {
  /* line 587, ../sass/3-modules/_sections.scss */
  #clients {
    width: 45em;
    padding: 4em 0;
  }
  /* line 676, ../sass/3-modules/_sections.scss */
  #clients h2 {
    font-size: 28px;
  }
  /* line 677, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 19px;
  }
  /* line 678, ../sass/3-modules/_sections.scss */
  #clients .text {
    font-size: 17px;
  }
  /* line 679, ../sass/3-modules/_sections.scss */
  #clients .clientname {
    font-size: 15px;
  }
  /* line 683, ../sass/3-modules/_sections.scss */
  #clients .grid .item1 .item, #clients .grid .item4 .item {
    width: 11em;
    height: 11em;
  }
  /* line 685, ../sass/3-modules/_sections.scss */
  #clients .grid .item2, #clients .grid .item3 {
    padding: 1em;
  }
  /* line 687, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext, #clients .grid .item3 .tooltext {
    padding: 1.5em 2em;
  }
}
@media screen and (max-width: 767px) {
  /* line 587, ../sass/3-modules/_sections.scss */
  #clients {
    width: 28em;
    padding: 4em 0;
  }
  /* line 694, ../sass/3-modules/_sections.scss */
  #clients .grid .tooltext::after {
    visibility: hidden;
  }
  /* line 696, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext, #clients .grid .item3 .tooltext {
    padding: 1.5em;
  }
  /* line 699, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 16px;
  }
  /* line 700, ../sass/3-modules/_sections.scss */
  #clients .text {
    font-size: 16px;
  }
  /* line 701, ../sass/3-modules/_sections.scss */
  #clients .clientname {
    font-size: 13px;
  }
  /* line 703, ../sass/3-modules/_sections.scss */
  #clients h2 {
    font-size: 26px;
  }
  /* line 704, ../sass/3-modules/_sections.scss */
  #clients #grid2 {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 707, ../sass/3-modules/_sections.scss */
  #clients #grid2 .item3 {
    order: 2;
  }
  /* line 710, ../sass/3-modules/_sections.scss */
  #clients #grid2 .item4 {
    order: 1;
  }
}
@media screen and (max-width: 425px) {
  /* line 587, ../sass/3-modules/_sections.scss */
  #clients {
    width: 22em;
    padding: 3em 0;
  }
  /* line 718, ../sass/3-modules/_sections.scss */
  #clients .grid .tooltext::after {
    visibility: hidden;
  }
  /* line 720, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext, #clients .grid .item3 .tooltext {
    padding: 1.5em;
  }
  /* line 723, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 14px;
  }
  /* line 724, ../sass/3-modules/_sections.scss */
  #clients .text {
    font-size: 16px;
  }
  /* line 725, ../sass/3-modules/_sections.scss */
  #clients .clientname {
    font-size: 14px;
  }
  /* line 727, ../sass/3-modules/_sections.scss */
  #clients h2 {
    font-size: 22px;
  }
  /* line 728, ../sass/3-modules/_sections.scss */
  #clients #grid2 {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 731, ../sass/3-modules/_sections.scss */
  #clients #grid2 .item3 {
    order: 2;
  }
  /* line 734, ../sass/3-modules/_sections.scss */
  #clients #grid2 .item4 {
    order: 1;
  }
}
@media screen and (max-width: 375px) {
  /* line 587, ../sass/3-modules/_sections.scss */
  #clients {
    width: 20em;
    padding: 3em 0;
  }
  /* line 743, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext, #clients .grid .item3 .tooltext {
    padding: 0.5em;
  }
  /* line 745, ../sass/3-modules/_sections.scss */
  #clients .grid .tooltext::after {
    visibility: hidden;
  }
  /* line 747, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 14px;
  }
  /* line 748, ../sass/3-modules/_sections.scss */
  #clients .text {
    font-size: 16px;
  }
  /* line 749, ../sass/3-modules/_sections.scss */
  #clients .clientname {
    font-size: 14px;
  }
  /* line 751, ../sass/3-modules/_sections.scss */
  #clients h2 {
    font-size: 22px;
  }
  /* line 752, ../sass/3-modules/_sections.scss */
  #clients #grid2 {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 755, ../sass/3-modules/_sections.scss */
  #clients #grid2 .item3 {
    order: 2;
  }
  /* line 758, ../sass/3-modules/_sections.scss */
  #clients #grid2 .item4 {
    order: 1;
  }
}
@media screen and (max-width: 320px) {
  /* line 587, ../sass/3-modules/_sections.scss */
  #clients {
    width: 18em;
    padding: 4em 0;
  }
  /* line 766, ../sass/3-modules/_sections.scss */
  #clients .grid .tooltext::after {
    visibility: hidden;
  }
  /* line 768, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 14px;
  }
  /* line 769, ../sass/3-modules/_sections.scss */
  #clients .text {
    font-size: 16px;
  }
  /* line 770, ../sass/3-modules/_sections.scss */
  #clients .clientname {
    font-size: 12px;
  }
  /* line 772, ../sass/3-modules/_sections.scss */
  #clients h2 {
    font-size: 20px;
  }
  /* line 773, ../sass/3-modules/_sections.scss */
  #clients #grid2 {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 776, ../sass/3-modules/_sections.scss */
  #clients #grid2 .item3 {
    order: 2;
  }
  /* line 779, ../sass/3-modules/_sections.scss */
  #clients #grid2 .item4 {
    order: 1;
  }
}
