body{
  font-family: $base;
  color: $base_font_color ;
  font-size: 16px;
  overflow-x: hidden;
  h2{
    font-weight: $heavy;
    color: $opaque2;
    font-size: $big;
    font-family: $base;
  }
}
html body{
  width: -webkit-fill-available;
}
p{
  font-family: $not_base;
  font-weight: $light;
}
