//////////////////////////////////title sction
.title{
  background-image: url('../images/Background.png');
  position: relative;
  background-size: cover;
  padding: 0;
  width: auto;
  .back_1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-property: transform;
    transition-property: transform;
    transition: 1s ease;
    -webkit-transition: 1s ease;
  }
  .text{
    position: relative;
    text-align: center;
    padding: 7% 18%;
    background: rgba(0, 0, 0, 0.4);
    @media screen and (max-width:$x-small){padding: 7.5%;}
    .top_header{
        color: $white;
        font-weight: $heavy;
        font-size: $biggest;
        @media screen and (max-width:$large){font-size: 50px;}
        @media screen and (max-width:$medium+1){font-size: 40px;}
        @media screen and (max-width:$small+1){font-size: 36px;}
        @media screen and (max-width:$x-small){font-size: 30px;}
        @media screen and (max-width:$x-small3){font-size: 24px;}
    }
    .subtitle_text{
      color: $greyish;
      font-size: 25px;
      @media screen and (max-width:$large){font-size: 22px;}
      @media screen and (max-width:$medium+1){font-size: 18px;}
      @media screen and (max-width:$small+1){font-size: 16px;}
      @media screen and (max-width:$x-small){font-size: 14px;}
      @media screen and (max-width:$x-small3){font-size: 12px;}
    }
    .button1{
      margin-top: 7%;
      width: 15em;height: 4.5em;
      @media screen and (max-width: $large){margin-top: 6%;}
      @media screen and (max-width: $medium+1){font-size: 12px!important;}
      @media screen and (max-width: $small+1){font-size: 10px!important;}
      @media screen and (max-width: $x-small){font-size: 8px!important;width: 14em;height: 4em;}
    }
  }
}

.title:hover,.title:focus{.back_1{background: rgba(0, 0, 0, 0.5);-webkit-transform: scaleY(1);transform: scaleY(1);}}


//////////////////////////////////////services section
.services{
  padding: 7% 0 4%;
  width: 67%;
  @media screen and (max-width: $large){padding: 6% 0 2%;width: 70%;}
  @media screen and (max-width: $medium+1){padding: 5% 0 2%;width: 60%;}
  @media screen and (max-width: $small+1){padding: 4% 0 2%;width: 75%;}
  @media screen and (max-width: $x-small){padding: 3% 0 2%;width: 80%;}

  h2{
    @media screen and (max-width: $large){font-size: 30px;}
    @media screen and (max-width: $small+1){font-size: 24px;}
    @media screen and (max-width: $x-small){font-size: 18px;}
  }
  h4{
    font-size: 20px;
    color: $opaque2;
    font-weight: $heavy;
    padding-top: 1em;
    @media screen and (max-width: $large){font-size: 18px;}
    @media screen and (max-width: $medium+1){font-size: 20px;}
    @media screen and (max-width: $x-small){font-size: 15px;}
  }
  .subtitle_text{
    font-size: 25px;
    padding-bottom: 2em;
    @media screen and (max-width: $large){font-size: 20px;}
    @media screen and (max-width: $medium+1){font-size: 19px;padding-bottom: 3em;}
    @media screen and (max-width: $x-small){font-size: 14px;padding-bottom: 2em;}
  }
  .pro{
    .cardInner{
      position: relative;
      padding-bottom: 2em;padding-top: 2em;
      transition-duration: 1s;
      transition-property: all;
      -webkit-transition-duration: 1s;
      -webkit-transition-property: all;
      &:hover{
        box-shadow: 0 -2px 0 0 $green, 0 2px 0 0 $green;
      }
      cursor: pointer;
      .icons{height: 4em;}
    }
    img{display: inline-block;}
    p{
      font-size: 15px;
      @media screen and (max-width: $large){font-size: 14px;}
      @media screen and (max-width: $medium+1){font-size: 18px;}
      @media screen and (max-width: $x-small){font-size: 12px;}

    }
  }
}


//////////////////////////////////////just relax section
.just-relax{
  background-color: $background1;
  background-size: cover;
  position: relative;
  padding: 0;
  height: auto;
  .gear_image{
    position: absolute;
    -webkit-animation: rotation 25s infinite;
    animation: rotation 25s infinite;
    width: 27.8%;
    top: 50%;
    left: 0;
    transition-property: all;
    @media screen and (max-width: $small+1){visibility: hidden;}
  }
  #back{
    background-image: url('../images/Background2.png');
    width: 69.3%;
    height: 100%;
    float: right;
    position: relative;
    background-size: cover;
    @media screen and (max-width: $small+1){width: 100%;}
    .bg2{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
    }
    .text{
      margin: 10%;
      position: relative;
      @media screen and (max-width: $x-small2){margin: 7.5%;}
      #header2{
        font-size: 32px;
        color: $white;
        font-weight: $heavy;
        #and{
          color: $green;
        }
        @media screen and (max-width: $large){font-size: 30px;}
        @media screen and (max-width: $medium+1){font-size: 24px;}
        @media screen and (max-width: $x-small){font-size: 18px;}
        @media screen and (max-width: $x-small2){font-size: 16px;}
      }
      #desc2{
        font-size: 17px;
        width: 27em;
        color: $greyish;
        @media screen and (max-width: $large){font-size: 16px;}
        @media screen and (max-width: $medium+1){font-size: 14px;}
        @media screen and (max-width: $x-small){font-size: 10px;}
        .list{
          font-family: $not_base;
          margin: 0;
          margin-top: 1.25em;
          padding-left: 3em;
          list-style-type: none;
          .check{
            line-height: 28px;
            margin: 1em;
            @media screen and (max-width: $small){ margin: 0.75em 1em;}
            @media screen and (max-width: $x-small){ margin: 0.5em 1em;}
            &::before{
              font-family: "Material Icons";
              content: "done";
              position: absolute;
              font-size: inherit;
              left: 0;
              text-align: center;
              width: 33px;
              height: 32px;
              border-style: solid;
              border-radius: 50%;
              border-color: inherit;
              border-width: 1px;
              @media screen and (max-width: $medium+1){transform: scale(0.8);}
              @media screen and (max-width: $x-small){transform: scale(0.7);}
            }
          }
        }
        .button2{
          width: 12em;
          margin-top: 2em;
          @media screen and (max-width: $medium+1){font-size: 12px!important;margin-top: 1em;}
          @media screen and (max-width: $x-small){font-size: 10px!important;margin-top: 0;}
          @media screen and (max-width: $x-small2){font-size: 8px!important;}
        }
      }
    }
  }
}


//////////////////////////////////////latest project section
.latest_project{
  padding: 7% 0 0 0;
  width: 100%;
  .top_header{
    text-align: center;
    padding-bottom: 2em;
    h2{
      @media screen and (max-width: $medium+1){font-size: 30px;}
      @media screen and (max-width: $small){font-size: 28px;}
      @media screen and (max-width: $x-small){font-size: 24px;}
    }
    .subtitle_text{
      font-size: 25px;
      font-weight: $light;
      @media screen and (max-width: $medium+1){font-size: 19px;}
      @media screen and (max-width: $small){font-size: 18px;}
      @media screen and (max-width: $x-small){font-size: 14px;}
    }
  }
  .subhead{
    padding-left: 16.6%;
    @media screen and (max-width: $large){padding-left:12.5%;padding-bottom: 7%;}
    @media screen and (max-width: $medium+1){padding-left:10%;}
    .mid{
      @media screen and (max-width: $small){padding-right: 10%;}
      h4{
        font-size: 20px;
        font-weight: $heavy;
        color: $opaque2;
        @media screen and (max-width: $large){font-size: 18px;}
        @media screen and (max-width: $medium+1){font-size: 16px;}
        @media screen and (max-width: $small){font-size: 18px;}
        @media screen and (max-width: $x-small){font-size: 14px;}

      }
      p{
        font-size: 16px;
        @media screen and (max-width: $medium+1){font-size: 14px;}
        @media screen and (max-width: $small){font-size: 16px;}
        @media screen and (max-width: $x-small){font-size: 12px;}

      }
      .header_small{
        padding-bottom: 1em;
        .desc{
          width: 22.5em;
          @media screen and (max-width: $small){width: auto;}
        }

      }
      .list{
          h4{margin: 0;
            @media screen and (max-width: $large){padding-top: 3%;}
            @media screen and (max-width: $x-small){padding-top: 5%;}
          }
          list-style-type: none;
          .features{
            padding-left: 10%;
            padding-bottom: 5%;
            @media screen and (max-width: $small){padding-bottom: 2.5%;}
            @media screen and (max-width: $x-small){padding-bottom: 0;}
            &::before{
              width: 67px;
              height: 67px;
              text-align: center;
              padding-top: 10px;
              left: 3%;
              transform: translateY(-20%);
              border-radius: 50%;
              border-color: $opaque;
              border-style: solid;
              position: absolute;
              @media screen and (max-width: $large){transform: scale(0.9);}
              @media screen and (max-width: $medium+1){transform: scale(0.8);}
              @media screen and (max-width: $small){transform: scale(0.9);padding-top: 10px;}
              @media screen and (max-width: $x-small){transform: scale(0.7);}
              @media screen and (max-width: $x-small3){transform: translate(0,-10%) scale(0.7)}
            }
          }
          .feature1::before{content: url('../images/Icon-Basket.png');}
          .feature2::before{content: url('../images/Icon-Laptop.png');}
          .feature3::before{content: url('../images/Icon-Locked.png');}
      }

      .bottomline{
        width: 23em;
        @media screen and (max-width: $large){width: 20.5em;}
        @media screen and (max-width: $small){width: auto;}

        .ref{
          color: $green;
          font-weight: $heavy;
          font-size: inherit!important;
          font-family: $base;
          &:hover{
            text-decoration: none;
            color: $opaque2;
          }
        }
      }
    }
    .tphone{
      @media screen and (max-width: $small){margin: 0;padding: 0}}
  }
}


///////////////////////////////////////culture and values section
.culture{
  background-color: $background2;
  margin: 0;
  width: 100%;
  .text{
    margin: 10% 0;
    h2{
      @media screen and (max-width: $large){font-size: 30px;}
      @media screen and (max-width: $x-small){font-size: 24px;}
    }
    .subtitle_text{
      font-size: 25px;
      @media screen and (max-width: $large){font-size: 20px;}
      @media screen and (max-width: $x-small){font-size: 16px;}
    }
    h4{
      font-size: 18px;
      color: $opaque2;
      font-weight: $heavy;
      margin-top: 1em;
      @media screen and (max-width: $large){font-size: 16px;}

    }
    .values{
      margin: 5% 12.5% 0;
      @media screen and (max-width: $small+1){margin: 7% 10%;}
      .card{
        @media screen and (max-width: $medium){padding-top: 1em; padding-bottom: 1em;}
        &:hover{ @media screen and (max-width: $medium){box-shadow: 0 -2px 0 0 $green, 0 2px 0 0 $green;} }
        .icons{
            position: relative;
            border-radius: 50%;
            border-style: solid;
            border-color: $base_font_color;
            .star, img{
              font-size: 60px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
            }
            height: 6em;
            width: 6em;
            display: inline-block;
        }
      }
      .icon1::after{
          content: "";
          position: absolute;
          border-top: 2px solid;
          width: 50%;
          top: 2.5em;
          right: 0;
          transform: translate(50%,0);
          @media screen and (max-width: $medium+1){visibility: hidden;}
      }
      .icon3::before{
          content: "";
          position: absolute;
          border-top: 2px solid;
          width: 50%;
          top: 2.5em;
          left: 0;
          transform: translate(-50%, 0);
          @media screen and (max-width: $medium+1){visibility: hidden;}
      }
      .description{
        font-size: 16px;
        @media screen and (max-width: $large){font-size: 15px;}
        @media screen and (max-width: $medium+1){margin-bottom: 5%;}
        @media screen and (max-width: $x-small){font-size: 14px;}
      }
    }
  }
}


///////////////////////////////////////////clients
.clients{
  padding: 7% 0;
  font-family: RobotoSlab;
  .heading{
    @media screen and (max-width: $large){font-size: 40px;}
    @media screen and (max-width: $medium+1){font-size: 30px;}
    @media screen and (max-width: $small){font-size: 24px;}
    @media screen and (max-width: $x-small){font-size: 20px;}
  }
  .subtitle_text{
    font-size: 25px;
    @media screen and (max-width: $large){font-size: 25px;}
    @media screen and (max-width: $medium+1){font-size: 20px;}
    @media screen and (max-width: $small){font-size: 18px;}
    @media screen and (max-width: $x-small){font-size: 14px;}
  }

  .grid{
    padding: 2.5% 17% 0;
    @media screen and (max-width: $large){padding: 2% 15% 0;}
    @media screen and (max-width: $medium+1){padding: 2% 10% 0;}
    @media screen and (max-width: $small){padding: 10% 20% 0;}
    @media screen and (max-width: $x-small){padding: 10% 7.5% 0;}
      .item1 , .item4{
        @media screen and (max-width: $small){text-align: -webkit-center;}
        .item{
          background: $background2;
          border-radius: 50%;
          height: 221px;
          width: 221px;
          object-fit: cover;
          @media screen and (max-width: $large){width:192px;height:192px;}
          @media screen and (max-width: $medium+1){width: 176px;height: 176px;}
        }
      }
      .item4{
        .item{
          float: right;
          @media screen and (max-width: $small){float: none;}
        }
      }
      .item2,.item3{
        transform: translateY(10%);
       .tooltext{
          width: auto;
          height: auto;
          position: relative;
          background: $background2;
          padding: 7.5%;
          @media screen and (max-width: $x-small){padding: 5%;}
          .text{
            font-size: 22px;
            @media screen and (max-width: $large){font-size: 18px;}
            @media screen and (max-width: $medium){font-size: 16px;}
            @media screen and (max-width: $x-small){font-size: 14px;}
            }
          .clientname{
            color: $green;
            font-size: 18px;
            @media screen and (max-width: $large){font-size: 15px;}
            @media screen and (max-width: $medium){font-size: 14px;}
            @media screen and (max-width: $x-small){font-size: 12px;}
          }
          &::after{
            content: '';
            position: absolute;
            top: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            transform: translateY(-50%);
            @media screen and (max-width: $small){visibility: hidden;}
          }
        }
      }
      .item2{
        .tooltext::after{
          left: -2%;
          border-right-color: $background2;
          border-left: 0;
          margin-left: 0;
        }
      }
      .item3{
        .tooltext::after{
          right: -2%;
          border-left-color: $background2;
          border-right: 0;
          margin-right: 0;
        }
      }
    }
  }


//////////////////////////////////////////panel
.talknext{
    width: 100%;
    height: auto;
    background-color: $green;
    color: $white;
    padding: 4em 9em;
    @media screen and (max-width: $large){padding: 2em 6em;}
    @media screen and (max-width: $small+1){padding: 1.5em 4em;}
    @media screen and (max-width: $x-small){padding: 1em;}
    #talk{
      color: $white;
      margin-bottom: 1em;
      @media screen and (max-width: $large){font-size: 30px;}
      @media screen and (max-width: $small+1){font-size: 24px;}
      @media screen and (max-width: $x-small){font-size: 18px;}
      @media screen and (max-width: $x-small3){font-size: 16px;}
    }
    .button3{
      border-color: $white;
      border-style: solid;
      border-width: 3px;
      border-radius: 0.5em;
      width: 11em;
      height: 3em;
      font-size: 18px;
      text-shadow: none;
      @media screen and (max-width: $large){font-size: 16px;width: 10em;}
      @media screen and (max-width: $small+1){font-size: 15px;}
      @media screen and (max-width: $x-small){font-size: 12px;}
    }
    .button3:hover{color: $green!important;}
  }


//////////////////////////////////////////logos
.logos{
    padding: 2em 0;
    margin-top: 0;
    width: 54.6%;
    @media screen and (max-width: $small+1){width: 70%;padding: 1.5em 0;}
    @media screen and (max-width: $x-small){padding: 0.75em 0;}
    .logo{
      padding: 2%;
      text-align: -webkit-center;
      transition-duration: 1s;
      transition-property: all;
      -webkit-transition-duration: 1s;
      -webkit-transition-property: all;
      filter: grayscale(1);
      opacity: 0.75;
      &:hover{filter: opacity(1); transform: scale(1.1);}
    }
  }
