//font family
$base: Montserrat;
$not_base: RobotoSlab;
$icon-family: FontAwesome;

//colour variables
$base_font_color: #777777;
$opaque: #000000;
$opaque2: #222222;
$greyish: #cccccc;
$background1: #e9e9e9;
$background2: #f9f9f9;
$white: #ffffff;
$green: #7cc576;
$footercolor: #ececec;


//font-weight
$heavy: 700;
$light: 400;

//header size
$biggest: 60px;
$big: 40px;

//screen size
$large: 1200px;
$medium: 991px;
$medium2: 1024px;
$small: 767px;
$x-small: 576px;
$x-small2: 425px;
$x-small3: 375px;
